* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: turquoise;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.card-container {

  background-image: url("https://cdnuploads.aa.com.tr/uploads/Contents/2022/06/06/thumbs_b_c_81dc6861193c4cb9f1dc46bc58d64355.jpg");
  min-width: 300px;
}

.title {
  font-style: italic;
}

.city-card {
  height: 400px;
  max-width: 300px;
  min-width: 230px;
}

.city-card:hover {
  box-shadow: 7px 7px 10px 8px white;
}

.city-card:hover .city-card-img {
  transform: scale(0.95);
}

.city-card-img {
  height: 350px;
  transition: all 0.4s ease-in-out;
}
.city-card-par {
  overflow: auto;
}

.city-card-par::-webkit-scrollbar {
  display: none;
}
